<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EntriesToDecrypt" type="EnvCrypt.InteractiveDecrypt.Config.EntriesToDecryptSectionHandler, EnvCrypt.InteractiveDecrypt"/>
  </configSections>

  <EntriesToDecrypt>
    <Category Name="prod">
      <Entry>username</Entry>
      <Entry>password</Entry>
    </Category>
    <Category Name="dev">
      <Entry>username</Entry>
      <Entry>password</Entry>
    </Category>
  </EntriesToDecrypt>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>